@model PlusCP.Models.Tool
@{
    ViewBag.Title = "GetTool";
    Layout = null;

}
<link href="~/Content/css/message.css" rel="stylesheet" />
<link href="~/Content/css/jquery.dataTables.colResize.css" rel="stylesheet" />
<link href="~/Content/css/GetPO.css" rel="stylesheet" />

<style>
    /* Add User Modal */

    /* Refresh Button */
    .btn-refresh {
        background-color: #003B59 !important; /* Distinct orange color */
        color: white !important;
        border-radius: 30px !important;
        margin-left: 5px !important;
        height: 25px !important;
        padding: 0px 12px !important;
        border: 2px solid #003B59 !important;
        transition: all 0.3s ease-in-out;
    }

        .btn-refresh:hover {
            background-color: white !important;
            color: #003B59 !important;
            border: 2px solid #003B59 !important;
        }


    .RedColor {
        color: red;
    }

    .GreenColor {
        color: green;
    }

    .required:after {
        content: " *";
        color: red;
    }

    .datepicker td, th {
        text-align: center;
        padding: 8px 12px;
        font-size: 14px;
    }

    .Message {
        height: 200px;
        width: 500px
    }

    /*.custom-modal-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        border-bottom: 1px solid #ccc;
    }

    .custom-modal-title {
        margin: 0;
    }

    .custom-modal-header .close {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0.5rem;
        font-size: 1.5rem;
        line-height: 1;
    }*/

    .table.dataTable {
        font-family: "Segoe UI", "Roboto";
        clear: both;
        border-collapse: separate;
        border-spacing: 0;
        font-size: 16px;
    }

    .dataTables_wrapper,
    .dataTables_length,
    .dataTables_filter,
    .dataTables_info,
    .dataTables_paginate,
    table.dataTable thead th,
    table.dataTable tbody td {
        font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif !important;
    }

        .dataTables_wrapper .dataTables_paginate {
            text-align: left !important;
            float: none !important;
            display: flex;
            justify-content: left;
            font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif !important;
        }

            .dataTables_wrapper .dataTables_paginate .paginate_button {
                font-size: 15px !important; /* Increase font size */
                padding: 8px 12px; /* Increase button padding */
                color: #003B59 !important;
            }

        .dataTables_wrapper .dataTables_paginate {
            margin-left: 60px !important; /* Adjust this value as needed */
        }

            .dataTables_wrapper .dataTables_paginate .paginate_button i {
                font-size: 15px !important; /* Increase icon size */
                color: #003B59 !important;
            }

        .dataTables_wrapper .dataTables_info {
            font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif !important;
            font-size: 16px !important; /* Adjust size */
            color: #333 !important; /* Darker text */
            margin-left: 5px;
        }
    /* Change odd row background color */
    table.dataTable tbody tr:nth-child(odd) {
        background-color: #ECEDEF; /* Change to your desired color */
    }

    /* Change even row background color */
    table.dataTable tbody tr:nth-child(even) {
        background-color: #ffffff; /* Change to your desired color */
    }

    table.dataTable tbody tr.selected {
        background-color: #D6EFE8; /* Orange color */
        /*color: white;*/ /* Change text color if needed */
    }
    /* Search icon inside input */
    .search-icon {
        position: absolute;
        top: 50%;
        left: 8px;
        transform: translateY(-50%);
        color: darkgrey;
        font-size: 14px;
        pointer-events: none; /* Prevents clicking on the icon */
    }

    .search-container {
        position: relative;
        display: inline-block;
    }

    .txtSearch-frame {
        margin-top: 5px;
        height: 28px;
        width: 150px;
        border: none;
        color: #003B59;
        border: 2px solid #003B59 !important;
        width: 200px;
        padding-left: 30px; /* Space for the icon */
    }

    .pdf-icon {
        width: 30px;
        height: 30px;
        image-rendering: crisp-edges;
        image-rendering: -webkit-optimize-contrast;
    }

    .pad {
        padding-bottom: 15px;
        padding: 2px;
        padding-top: 10px;
    }

    .lblHeading {
        font-size: 19px;
        color: #003B59 !important;
    }

    .table-container {
        height: 200px; /* Set the desired fixed height */
        overflow-y: auto;
    }

    /*table > thead > tr > th {
        background-color: gray !important;
        color: white;
    }*/

    table.table thead th {
        background-color: #003B59 !important; /* Change to your desired color */
        color: white; /* Change to desired text color */
        font-size: 15px;
        font-family: 'Poppins', sans-serif;
        height: 40px;
    }

    table.table tbody td, lbl_ {
        /*background-color: white !important; /* Change to your desired color */
        font-size: 15px;
        color: #003B59 !important;
    }

    table.table tbody tr {
        height: 50px; /* Adjust height as needed */
    }

        /* Hover effect */
        table.table tbody tr:hover {
            background-color: #f5f5f5 !important; /* Light gray background on hover */
            transition: background-color 0.8s ease-in-out;
            cursor: pointer;
        }




    table th {
        /*padding: 1rem 0.5rem !important;*/
        border: 1px solid black;
        border-bottom: 1px solid black;
        /*padding: 8px;*/
        text-align: left;
    }

    table td {
        padding: 1rem 0.5rem !important;
        font-size: 15px !important;
        font-weight: 500 !important;
        vertical-align: middle;
    }

    table {
        border-collapse: separate;
        border-spacing: 0 10px; /* Adjust the second value to increase/decrease the vertical gap */
        width: 100%;
    }

        table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
            border-bottom-width: 1px;
        }




    .sticky-header th {
        position: sticky;
        top: 0;
        background-color: #f2f2f2;
    }



    .t-head {
        color: #023160;
    }

    /* Modal Styling */
    .modal-dialog {
        margin: 30px auto;
    }

        .modal-dialog.centered {
            display: flex;
            min-height: calc(100vh - 60px);
            align-content: stretch;
            flex-wrap: wrap;
            align-items: stretch;
            flex-direction: column;
            justify-content: center;
            width: 32%;
        }

    .box-header {
        background-color: #f8f9fc !important;
        color: #003B59 !important;
        border-bottom: 2px solid #f8f9fc;
        box-shadow: 0px 5px #ededed;
    }


    .btn-box-tool {
        color: #003B59 !important;
    }


    /*/Badges/*/

    .btn-badges {
        color: #003B59 !important;
        border-radius: 25px !important;
        margin-left: 5px !important;
        height: 25px !important;
        padding: 2px 12px !important;
    }

        .btn-badges:hover {
            background-color: #003B59 !important;
            color: white !important;
        }

            .btn-badges:hover .badge_light {
                background-color: white !important;
                color: #003B59 !important;
            }

    .badge_light {
        background-color: #003B59 !important;
        color: white !important;
    }

    .btn-badges-Sent {
        border-radius: 25px !important;
        height: 25px !important;
        width: 60px;
    }

    .selected {
        background-color: deepskyblue;
        color: black;
    }

    .ModalHeaderColor {
        background-color: #D6EFE8;
        color: #003B59
    }

    .ModalLabelColor {
        color: #003B59;
        text-align: center;
        font-weight: bold;
    }

    textarea {
        resize: none;
    }
</style>

<div id="parent" class="container-fluid">
    <input id="rptCode" type="hidden" value="019" />
    <input id="rptTitle" class="lblHeading" type="hidden" value="@ViewBag.ReportTitle" />
    <div id="dataLists" class="box panel panel-default">
        <div class="box-header with-border">

            <h5 class="box-title"><strong>@ViewBag.ReportTitle  </strong><strong id="filterString"></strong></h5>
            <button id="GetToolList" class="btn btn-badges">
                Refresh
            </button>


            <div id="buttons" class="box-tools pull-right">

            </div>
        </div>

        <div class="box-body" id="lstP">
            <table id="lstGetTool" class="table table-bordered table-striped text-sm table-hover" style="width:100%">
                <thead class="sorted-asc">
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        @*    <th></th>
                            <th></th>*@
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                    </tr>
                </tfoot>
            </table>
        </div>

    </div>
</div>


<!-- Check-Out Modal -->
<div class="modal fade" id="checkOutModal" tabindex="-1" role="dialog" aria-labelledby="checkOutLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header ModalHeaderColor">
                <h5 class="modal-title ModalLabelColor">Tool Check-Out</h5>
            </div>

            <div class="modal-body">
                <form id="checkOutForm">
                    <input type="hidden" id="checkoutToolId" name="ToolId" />

                    <!-- Tool Name -->
                    <div class="form-group">
                        <label>Tool / Item Name:</label>
                        <input type="text" class="form-control" id="checkoutToolDisplay" readonly />
                    </div>
                    <div class="form-group">
                        <label class="lblText" for="checkOutSerials">Select Tool Serials:</label>
                        <select id="checkOutSerials" class="form-control" multiple="multiple" required>
                        </select>
                    </div>
                    <!-- Expected Return Date -->
                    <div class="form-group">
                        <label for="expectedReturnDate">Expected Return Date:</label>
                        <div class="input-group date" id="datepicker-container">
                            <input type="text" class="form-control" id="expectedReturnDate" name="ExpectedReturnDate" readonly>
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </span>
                        </div>
                    </div>


                    <!-- Notes -->
                    <div class="form-group">
                        <label>Condition Notes:</label>
                        <textarea class="form-control" id="checkOutCondition" name="Notes" rows="3" placeholder="Enter condition details..."></textarea>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button id="btnCheckout" type="submit" form="checkOutForm" class="btn btn-danger">Confirm Check-Out</button>
            </div>
        </div>
    </div>
</div>



<!-- Check-In Modal -->
<div class="modal fade" id="checkInModal" tabindex="-1" role="dialog" aria-labelledby="checkInLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header ModalHeaderColor">
                <h5 class="modal-title ModalLabelColor">Tool Check-In</h5>
            </div>

            <div class="modal-body">
                <form id="checkInForm">

                    <!-- Allocated Serials -->
                    <!--<div class="form-group">
                        <label>Select Tool Units to Check-In</label>
                        <select id="checkInAllocations" name="AllocationIds" class="form-control" multiple required>-->
                    <!-- Options populated dynamically via AJAX -->
                    <!--</select>
                    </div>-->
                    <div class="form-group">
                        <label class="lblText" for="checkInAllocations">Select Tool Serials</label>
                        <select id="checkInAllocations" class="form-control" multiple="multiple" required>
                        </select>
                    </div>

                    <!-- Condition Notes -->
                    <div class="form-group">
                        <label>Condition Notes</label>
                        <textarea class="form-control" id="checkInCondition" name="Condition" rows="6" placeholder="Enter condition details..."></textarea>
                    </div>

                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button id="btnCheckin" type="submit" form="checkInForm" class="btn btn-success">Confirm Check-In</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal Transaction -->
<div id="TransactionModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg custom-modal-width" role="document">
        <div class="modal-content">
            <div class="custom-modal-header ModalHeaderColor">
                <h5 class="custom-modal-title lbl_ ModalLabelColor">Transaction History</h5>

            </div>
            <div class="modal-body">
                <div class="row">
                    <!-- Left side with green background color -->
                    <div class="row">
                        @*Left side (Table Grid)*@
                        <div class="col-md-12 table-container" style="height:400px">

                            <table id="transactionTable" class="table table-striped table-bordered">
                                <thead class="sticky-header">
                                    <tr>
                                        <th hidden>Tran Id</th>
                                        <th>Tool Serial Id</th>
                                        <th>Tool Name</th>
                                        <th>User</th>
                                        <th>Transaction Type</th>
                                        <th>Quantity</th>
                                        <th>Transaction Date</th>
                                        <th>Expected Return</th>
                                        <th>Possession Duration</th>
                                        <th>Notes</th>
                                    </tr>
                                </thead>
                                <tbody style="text-align:center"></tbody>
                            </table>

                        </div>
                    </div>
                </div>



            </div>
            <div class="modal-footer">
                <button id="btnTransactionPO" type="button" class="btn btnClose" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/Message.js"></script>
<script>
    ToggleDataList(false);

    LoadData();
    function LoadData() {
        $('#tblBody').empty();
        $('#lstData').DataTable().clear();
        $('#lstData').DataTable().destroy();
        var isSingleRow = false;

        $.ajax({

            cache: false,
            type: 'GET',
            url: '/Tool/GetToolList',
            data: {

            },
            datatype: JSON,
            success: function (data) {
                $('#filterString').append(data.filterString);
                $('#tblBody').empty();
                $('#lstData').DataTable().clear();
                $('#lstData').DataTable().destroy();

                if (!isSingleRow) {
                    var columnDef = [
                        { "data": "ToolId", "title": "Tool Id", "width": "50px", "className": "text-center" , "visible": false},
                        { "data": "ToolName", "title": "Tool Name", "className": "text-center" },
                        {
                            "data": "PartNum", "title": "Part No.", "className": "text-center",

                        },

                        // Use TotalQty from query
                        { "data": "TotalQty", "title": "Total Qty", "className": "text-center" },

                        // New column for AvailableQty
                        {
                            "data": "AvailableQty", "title": "Available Qty", "className": "text-center",
                            "render": function (data, type, row) {
                                var d = data.toString();
                                if (d == "" || d == 0)
                                    return "0";
                                else
                                    return d;
                                }
                        },

                        //{ "data": "PurchaseDate", "title": "Purchase Date", "className": "text-center" },
                        //{
                        //    "data": "PurchaseCost", "title": "Purchase Cost", "className": "text-center",
                        //    "render": function (data, type, row) {
                        //        return formatDecimal(data);
                        //    }
                        //},
                        { "data": "CurrentStatus", "title": "Current Status", "className": "text-center" },

                        //{ "data": "CalibrationDueDate", "title": "Calibration Due Date", "className": "text-center" },
                        //{ "data": "LastMaintenanceDate", "title": "Last Maintenance Date", "className": "text-center" },
                        {
                            "data": "IsConsumable", "title": "Is Consumable", "className": "text-center",
                            "render": function (data, type, row) {
                                if (data === true || data === "true" || data === 1) {
                                    return "1";
                                } else {
                                    return "0";
                                }
                            }
                        },
                        {
                            "data": null, "title": "Tool Transaction", "className": "text-center",
                            render: function (data, type, row) {

                                return '<a href="#" onclick="TransactionDtl(\'' + row["ToolId"] + '\')">' + "View" + '</a>';
                            }
                        },
                        {
                            "data": null,
                            "title": "Check OUT/IN",
                            "className": "text-center",
                            "orderable": false,
                            "render": function (data, type, row) {
                                let checkoutDisabled = row["CanCheckOut"] ? "" : "disabled";
                                let checkinDisabled = row["CanCheckIn"] ? "" : "disabled";

                                return `
                                        <button class="btn btn-sm btn-danger checkOutBtn"
                                                data-ToolId="${row["ToolId"]}"
                                                data-ToolName="${row["ToolName"]}"
                                                ${checkoutDisabled}>
                                            <i class="fa fa-sign-out-alt"></i>
                                        </button>
                                        <button class="btn btn-sm btn-success checkInBtn"
                                                data-ToolId="${row["ToolId"]}"
                                                data-ToolName="${row["ToolName"]}"
                                                data-allocationid=""
                                                ${checkinDisabled}>
                                            <i class="fa fa-sign-in-alt"></i>
                                        </button>`;
                            }
                        }

                    ];


                    ToggleDataList(true);

                    MakeDataGridForTraining('lstGetTool', data.lstGetTool, 0, columnDef, 'buttons', true, true, false, false);

                }
                if (data["ErrorMessage"] != null) {
                    $('.dataTables_empty > p').text(data["ErrorMessage"]);
                }
            },

            onerror: function (r) { r },
            failure: function (r) { r }
        });
    }

    $('#GetToolList').click(function () {
        OpenPage('/Tool/GetTool', 'Mohsin');
    });


    $(document).on("click", ".checkOutBtn", function () {
    let toolId = $(this).data("toolid");
    let toolName = $(this).data("toolname");

    $("#checkoutToolId").val(toolId);
    $("#checkoutToolName").val(toolName);
    $("#checkoutToolDisplay").val(toolName);

    // Fetch available serials
    $.get('@Url.Action("GetAvailableSerials","Tool")', { toolId: toolId }, function (data) {
        // Clear options
        $('#checkOutSerials').empty();
        //console.log(data)
        var lstSerials = data;
        // Append all POs
        $.each(lstSerials, function (index, item) {
            $('#checkOutSerials').append(new Option(item.ToolName, item.SerialId));
        });

        // Reinitialize multiselect
        $('#checkOutSerials').multiselect('destroy');
        initializeMultiselect("checkOutSerials");

        // Step 1: Select all by default
        $('#checkOutSerials').multiselect('selectAll', false);

        $.each(lstSerials, function (index, item) {
            if (item.IsExist == 1) {
                $("#checkOutSerials option[value='" + item.SerialId + "']").prop("disabled", true);
            }
        });

        // Refresh multiselect after disabling
        $('#checkOutSerials').multiselect('refresh');


        $('#checkOutSerials').multiselect('updateButtonText');
    });
    $("#checkOutModal").modal("show");
});

    $("#btnCheckout").click(function (e) {
    e.preventDefault();

    let selectedSerials = $("#checkOutSerials").val();
    console.log(selectedSerials)
    $.ajax({
        url: '@Url.Action("CheckOut","Tool")',
        type: 'POST',
        data: {
            toolId: $("#checkoutToolId").val(),
            serialIds: selectedSerials, // array of selected serials
            expectedReturn: $("#expectedReturnDate").val(),
            notes: $("#checkOutCondition").val(),
            checkOutDateTime: $("#checkOutDateTime").val()
        },
        traditional: true, // important for array serialization
        success: function (response) {
            if (response.success) {
                MsgToast("Success!", "Tool Checked Out successfully", "success");
                $("#checkOutModal").modal("hide");
                OpenPage('\\Tool\\GetTool');
            } else {
                MsgToast("Error!", response.message, "error");
            }
        },
        error: function () {
            MsgToast("Error!", "Error while processing Check-Out.", "error");
        }
    });
});

    $(document).on("click", ".checkInBtn", function () {
    let toolId = $(this).data("toolid");
    let toolName = $(this).data("toolname");

    $("#checkinToolId").val(toolId);
    $("#checkinToolName").val(toolName);
    $("#checkinToolDisplay").val(toolName);

    // Fetch user allocations
    $.get('@Url.Action("GetUserAllocations","Tool")', { toolId: toolId }, function (data) {
        // Clear options
        $('#checkInAllocations').empty();
        //console.log(data)
        var lstAllocation = data;
        // Append all POs
        $.each(lstAllocation, function (index, item) {
            $('#checkInAllocations').append(new Option(item.SerialNumber, item.AllocationId));
        });

        // Reinitialize multiselect
        $('#checkInAllocations').multiselect('destroy');
        initializeMultiselect("checkInAllocations");

        // Step 1: Select all by default
        $('#checkInAllocations').multiselect('selectAll', false);

        $.each(lstAllocation, function (index, item) {
            if (item.IsExist == 1) {
                $("#checkInAllocations option[value='" + item.AllocationId + "']").prop("disabled", true);
            }
        });

        // Refresh multiselect after disabling
        $('#checkInAllocations').multiselect('refresh');


        $('#checkInAllocations').multiselect('updateButtonText');
    });

    $("#checkInModal").modal("show");
});

    $("#btnCheckin").click(function (e) {
    e.preventDefault();
        let toolId = $(this).data("toolid");
        let toolName = $(this).data("toolname");

        $("#checkinToolName").val(toolName);
    let selectedAllocations = $("#checkInAllocations").val();

    $.ajax({
        url: '@Url.Action("CheckIn","Tool")',
        type: 'POST',
        data: {
            toolId: toolId,
            allocationIds: selectedAllocations, // array of allocation IDs
            //checkInDateTime: $("#checkInDateTime").val(),
            notes: $("#checkInCondition").val()
        },
        traditional: true,
        success: function (response) {
            if (response.success) {
                MsgToast("Success!", "Tool Checked In successfully", "success");
                $("#checkInModal").modal("hide");
                OpenPage('\\Tool\\GetTool');
            } else {
                MsgToast("Error!", response.message, "error");
            }
        },
        error: function () {
            MsgToast("Error!", "Error while processing Check-In.", "error");
        }
    });
});


    function setCurrentDateTime(inputId) {
        let now = new Date();
        let formatted = now.toISOString().slice(0, 16); // yyyy-MM-ddTHH:mm
        document.getElementById(inputId).value = formatted;
    }

    //$('#checkOutModal').on('show.bs.modal', function () {
    //    setCurrentDateTime('checkOutDateTime');
    //});

    //$('#checkInModal').on('show.bs.modal', function () {
    //    setCurrentDateTime('checkInDateTime');
    //});
    function TransactionDtl(toolId) {
        $('#TransactionModal').modal('show');

        $.ajax({
            url: '/Tool/GetToolTransaction',
            cache: false,
            type: 'GET',
            data: {
                toolId: toolId,
            },
            datatype: JSON,
            success: function (data) {
                var lstToolTransaction = [];
                lstToolTransaction = data.lstToolTransaction; debugger
                $('#transactionTable tbody').empty();
                // Iterate over selected rows and append to table
                for (var i = 0; i < lstToolTransaction.length; i++) {

                    var row = lstToolTransaction[i];

                    var rowDataHtml = '<tr>' +
                        '<td hidden>' + row['TranId'] + '</td>' +
                        '<td>' + row['ToolSerialIds'] + '</td>' +
                        '<td>' + row['ToolName'] + '</td>' +
                        '<td>' + row['UserName'] + '</td>' +
                        '<td>' + row['TranType'] + '</td>' +
                        '<td>' + row['TranQty'] + '</td>' +
                        '<td>' + row['TranDate'] + '</td>' +
                        '<td>' + (row['ExpectedReturnDate'] ? row['ExpectedReturnDate'] : '-') + '</td>' +
                        '<td>' + (row['PossessionDuration'] ?? '-') + '</td>' +
                        '<td>' + (row['Notes'] ?? '') + '</td>' +
                        '</tr>';

                    $('#transactionTable tbody').append(rowDataHtml);


                }
            },
            error: function (xhr, status, error) {
                // Handle error response
                console.error('Error sending data:', error);
            }
        });

    }

    function MakeDataGridForTraining(tableId, data, tableHeight, columns, buttonId, search, isScrollX, footerFunction, isFramed, detailed, reportTitleId, rowSelection, lstHeight) {
        var isFooter = footerFunction === undefined || footerFunction === false ? false : true;
        var isFramed = isFramed === undefined || isFramed === false ? false : true;
        var isDetailed = detailed === undefined ? false : true;
        var reportTitle = '';

        if (reportTitleId === undefined)
            reportTitle = $('.box-title').text();
        else
            reportTitle = reportTitleId;

        var gridHeight = 0;

        isScrollX = isScrollX === undefined ? false : true;
        if (search === undefined) { search = true; }

        var gridButtonsClass = '';
        var gridSearchBoxClass = '';
        if (isDetailed === true) {
            gridButtonsClass = 'btn-header btn-box-tool';
            gridSearchBoxClass = 'bg-white';
            gridButtonSize = 30;
        }
        else {
            gridButtonsClass = 'btn-header btn-box-tool';
            gridSearchBoxClass = 'btn-box-tool bg-white txtSearch';
            gridButtonSize = 30;
        }

        var boxtool;
        if (search === true) {
            if (isFramed) {
                $('#trHeadSearch').empty();
                boxtool = `
        <div class="search-container">
            <i class="fa fa-search search-icon"></i>
            <input class="txtSearch-frame" id="txtFrameSearch" type="text" placeholder="Search..">
        </div>`;
                $('#trHeadSearch').append(boxtool);
            } else {
                $('#' + buttonId).empty();
                boxtool = `
        <div class="search-container">
            <i class="fa fa-search search-icon"></i>
            <input class="txtSearch-frame" id="txtFrameSearch${tableId}" type="text" placeholder="Search..">
        </div>`;
                $('#' + buttonId).append(boxtool);
            }
        }
        else {
            if (isFramed) {
                $('#trHeadSearch').empty();
                boxtool = '<input class="txtSearch-frame" id="txtFrameSearch" type="text" placeholder="Search.." style="padding-left: 10px !important;" >';
                $('#trHeadSearch').append(boxtool);
            }
            else {
                $('#' + buttonId).empty();

            }
        }

        var table = $('#' + tableId).DataTable({
            order: [],
            createdRow: rowSelection,
            data: data,
            columns: columns,
            paging: true,
            ordering: true,
            searching: search,
            deferRender: true,
            destroy: true,
            pagingType: 'full',
            pageLength: 20,
            scrollCollapse: false,
            scrollX: isScrollX,
            colReorder: true,
            orderClasses: false,
            deferRender: true,
            select: true,
            colResize: true,
            //scrollY: gridHeight,
            autoWidth: true,
            footerCallback: footerFunction,
            language: {
                emptyTable: "<p style=\"text-align:left;\">No record(s) found.</p>",
                zeroRecords: "<p style=\"text-align:left;\">No matching record(s) found</p>",
                info: "Showing _START_ to _END_ of _TOTAL_ entries",
                oPaginate: {
                    sNext: '<i class="fa fa-angle-right"></i>',
                    sPrevious: '<i class="fa fa-angle-left"></i>',
                    sFirst: '<i class="fa fa-angle-double-left"></i>',
                    sLast: '<i class="fa fa-angle-double-right"></i>'
                }
            },
            "dom": "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-5 dataTables_info' i><'col-sm-6 ms-3 dataTables_paginate' p>>",
            buttons: [
                {
                    extend: 'copyHtml5',
                    footer: true,
                    text: '<span><span class="fa-stack"><i class="fa fa-circle fa-stack-2x" style="color: rgb(244, 164, 37);"></i><i class="fa fa-copy fa-stack-1x" style="color: white;"></i></span></span>',
                    titleAttr: 'Copy',
                    title: reportTitle,
                    filename: 'DataExport',
                    exportOptions: {
                        //columns: ':visible'
                        columns: 'th:not(.notexport)' // Excluding columns while exporting
                    }
                },
                {
                    extend: 'excelHtml5',
                    footer: true,
                    text: '<span><span class="fa-stack"><i class="fa fa-circle fa-stack-2x" style="color: rgb(0, 179, 98);"></i><i class="fa fa-file-excel fa-stack-1x" style="color: white;"></i></span></span>',
                    titleAttr: 'Export to excel',
                    title: reportTitle,
                    filename: 'DataExport', //Added By Tahir
                    exportOptions: {
                        //columns: ':visible'
                        columns: 'th:not(.notexport)'
                    }
                },
                {
                    extend: 'print',
                    footer: true,
                    text: '<span><span class="fa-stack"><i class="fa fa-circle fa-stack-2x" style="color: rgb(0, 204, 255);"></i><i class="fa fa-print fa-stack-1x" style="color: white;"></i></span></span>',
                    titleAttr: 'Print',
                    title: '',
                    messageTop: function () { return '<h4>' + reportTitle + '</h4>'; },
                    filename: 'DataExport',
                    exportOptions: {
                        // columns: ':visible'
                        columns: 'th:not(.notexport)'
                    }
                }
            ],
            select: true,
            drawCallback: function () {
                $.get("/Tool/GetAllocationId", function (allocations) {
                    allocations.forEach(function (alloc) {
                        $(`.checkInBtn[data-ToolId='${alloc.ToolId}']`)
                            .attr("data-allocationid", alloc.AllocationId);
                    });
                });
            }
        });
        table.buttons().container()
            .appendTo('#buttons');

        table.button(0).nodes().removeClass('btn btn-default buttons-copy buttons-html5');
        table.button(0).nodes().addClass(gridButtonsClass);

        table.button(1).nodes().removeClass('btn btn-default buttons-excel buttons-html5');
        table.button(1).nodes().addClass(gridButtonsClass);

        table.button(2).nodes().removeClass('btn btn-default buttons-excel buttons-html5');
        table.button(2).nodes().addClass(gridButtonsClass);

        var dsgndby = $('.modal-footer > #designedby ').html();

        if (dsgndby === "") {
            $('#designedBy').html($('.desgndBy').html());
        }

        var layoutHeader = $('nav').innerHeight();
        var cardHeader = $('.box-header').innerHeight();
        var tableHeader = $('.dataTables_scrollHead').innerHeight();
        var tableFooter = 0;
        var cardFooterH = 30;

        if (isFooter === true)
            tableFooter = $('.dataTables_scrollFoot').innerHeight();


        var parentHeight = $('#' + lstHeight).innerHeight();
        if (parentHeight == undefined)
            parentHeight = window.innerHeight;
        else
            parentHeight = $('#' + lstHeight).innerHeight();

        if (isFooter === true)
            tableFooter = $('#' + tableId + ' > tfoot').innerHeight();

        var browserHeight = parentHeight;
        if (tableHeight === 0) {
            if (layoutHeader === undefined)
                gridHeight = browserHeight - (cardHeader + tableHeader + tableFooter + cardFooterH);
            else
                gridHeight = browserHeight - (layoutHeader + cardHeader + tableHeader + tableFooter + cardFooterH);
        }
        else { gridHeight = tableHeight; }

        var topHeader = $('#topHeader').innerHeight();
        if (topHeader > 0)
            gridHeight = gridHeight - (topHeader + 1);

        gridHeight = gridHeight - 6;

        $('.dataTables_scrollBody').css('height', gridHeight + 'px');
        table.columns.adjust().draw();

        $('#txtFrameSearch' + tableId).on('keyup change', function () {
            table.search(this.value).draw();
        });
        $('.dataTables_filter').hide();
        table.columns.adjust().draw();


        //return table;
    }
    function MsgToast(msg, title, type) {

        toastr.options = {
            closeButton: true,
            debug: false,
            newestOnTop: false,
            progressBar: true,
            positionClass: 'toast-top-right',
            preventDuplicates: true,
            onclick: null
        };



        var $toast = toastr[type](title, msg); // Wire up an event handler to a button in the toast, if it exists
        $toastlast = $toast;

        if (typeof $toast === 'undefined') {
            return;
        }


    }
    function formatDecimal(data) {
        if (!data) return '';

        data = data.toString().trim();

        // If it's a whole number with .0 (e.g. "123.0") → "123"
        if (/^\d+\.0+$/.test(data)) {
            return data.replace(/\.0+$/, '');
        }

        // If it's numeric with decimals (e.g. "456.50") → "456.5"
        if (/^\d+\.\d+$/.test(data)) {
            return parseFloat(data).toString();
        }

        // Otherwise (alphanumeric or plain int), leave as-is
        return data;
    }
    function formatDate(msDate) {
        if (!msDate) return '';

        var timestamp = parseInt(msDate.replace(/[^0-9]/g, ''));
        var date = new Date(timestamp);

        var year = date.getFullYear();
        var month = ('0' + (date.getMonth() + 1)).slice(-2);
        var day = ('0' + date.getDate()).slice(-2);
        var hours = ('0' + date.getHours()).slice(-2);
        var minutes = ('0' + date.getMinutes()).slice(-2);
        var seconds = ('0' + date.getSeconds()).slice(-2);

        return `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
    }
    function initializeMultiselect(dropdownId) {
        $('#' + dropdownId).multiselect({
            includeSelectAllOption: true,
            selectAllText: 'All',
            buttonWidth: '100%',
            maxHeight: 170,
            enableFiltering: true,
            enableCaseInsensitiveFiltering: true,
            filterPlaceholder: 'Search',
            numberDisplayed: 4,
            templates: {
                ul: '<ul class="multiselect-container dropdown-menu" style="-ms-overflow-x: hidden; -ms-overflow-y: auto; max-height: 300px; width:100%;"></ul>'
            },
            buttonText: function (options, select) {
                if (options.length == 0) {
                    return 'select from list';
                } else if (options.length > this.numberDisplayed) {
                    return options.length + ' selected';
                } else {
                    var selected = [];
                    options.each(function () {
                        selected.push($(this).text());
                    });
                    return selected.join(', ');
                }
            }
        });

        $('#checkOutSerials').multiselect('selectAll', false);
        $("#checkOutSerials").multiselect('updateButtonText');
    }

    $(function () {
        $('#datepicker-container').datepicker({
            format: 'yyyy.mm.dd',
            autoclose: true,
            todayHighlight: true,
            startDate: new Date() // prevent selecting past dates
        }).datepicker('update', new Date()); // default = today
    });

</script>